<div class="theme" #headchange>
  <form #gsForm="ngForm" (ngSubmit)="onSubmit(gsForm)">
      <label>Set Navigation Font Color: </label>
      <input #navColor name="globalNavColor" type="color" ngModel>
      <br>
      <label>Set Navigation Background Color: </label>
      <input #navBackground name="globalNavBackground" type="color" ngModel>
      <br>
      <label>Set Card Font Color: </label>
      <input #cardColor name="globalCardColor" type="color" ngModel>
      <br>
      <label>Set Card Background Color:</label>
      <input #cardBackground name="globalCardBackground" type="color" ngModel>
      <br>
      <label>Set Button Font Color: </label>
      <input #buttonColor name="globalButtonColor" type="color" ngModel>
      <br>
      <label>Set Button Background Color:</label>
      <input #buttonBackground name="globalButtonBackground" type="color" ngModel>
      <br>
      <label>Set Footer Font Color: </label>
      <input #footerColor name="globalFooterColor" type="color" ngModel>
      <br>
      <label>Set Footer Background Color: </label>
      <input #footerBackground name="globalFooterBackground" type="color" ngModel>
      <br>
      <label>Set Footer Text Alignment:</label>
      <select name="globalFooterAlignment" ngModel>
          <option value="left">Left</option>
          <option value="center">Center</option>
          <option value="right">Right</option>
      </select>
      <br><br>
      <button type="submit">Submit</button>
  </form>
  <p>Form value: {{ gsForm.value | json }}</p>
</div>

when a form control value changes in template-driven forms, Angular responds by returning a `VALID` status or generating a list of validation errors, making it easy to provide feedback to users based on their input.
<form #myForm="ngForm">
  <input name="email" ngModel required email #emailControl="ngModel" />
  <div *ngIf="emailControl.errors?.required">Email is required.</div>
  <div *ngIf="emailControl.errors?.email">Invalid email format.</div>
</form>