<div>
Favorite Game (template diven approach):
<input type="text" [(ngModel)]="game" />

<form [formGroup]="myGroup">
  Favorite Game with formcontrol:
  <input type="text" formControlName="gameControl" name="gameControl" />
  
   Your form status is : {{ myGroup.status }}

</form>
<button type="submit" [disabled]="!myGroup.valid">Submit Application</button>

<button (click)="submittedValues()">show Game</button>

Favorite Color: <input type="text" [formControl]="favoriteColorControl">
</div>

<!-- <form [formGroup]="form" (ngSubmit)="submitTax(form.value)">
  <div>
    <label>Purchase Price</label>
    <input
      type="number"
      formControlName="purchaseprice"
      [value]="calculatePurchasePriceTaxes()"
    />
  </div>

  <div>
    <label>TAXES</label>
    <select formControlName="taxes">
      <option value="21">21%</option>
      <option value="10">10%</option>
      <option value="4">4%</option>
    </select>
  </div>

  <div>
    <label>Purchase Price + TAX.</label>
    <input type="number" formControlName="purchasepricetaxes" />
  </div>

  <input
    type="text"
    id="name"
    class="form-control"
    formControlName="txtvalue"
    placeholder="name"
  />

  <div *ngIf="txtvalue.invalid && (txtvalue.dirty || txtvalue.touched)" class="alert">
    <div *ngIf="txtvalue.errors?.minlength">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="txtvalue.errors?.forbiddenName">Name cannot be Bob.noooooooooo</div>
  </div>
  <div
  *ngIf="
    form.get('purchaseprice').invalid &&
    (form.get('purchaseprice').dirty || form.get('purchaseprice').touched)
  "
>
  Please provide a name.
</div>
  <button type="submit" [disabled]="form.invalid">submit</button>

  
</form> -->
