<h1>Explore the differences between Reactive and Template-driven forms in Angular and choose the best approach for your projects!</h1>
<div class="form-container">
  <label>Favorite Game (template driven approach):</label>
  <input class="styled-input" type="text" [(ngModel)]="game" />

  <label>Favorite Game (Reactive approach):</label>
  <form [formGroup]="myGroup">
    <label>with formcontrol:</label>
    <input class="styled-input" type="text" formControlName="gameControl" name="gameControl" />
    <p>Your form status is: {{ myGroup.status }}</p>
    <!-- <button class="formatted-button" type="submit" [disabled]="!myGroup.valid">Submit</button> -->
  </form>

  <label>Favorite Color:</label>
  <input class="styled-input" type="text" [formControl]="favoriteColorControl" />

  <button class="formatted-button" (click)="submittedValues()">Submit and show Application Data</button>
</div>

<form [formGroup]="taxForm" (ngSubmit)="submitTax(taxForm.value)">
  <div>
    <label>Purchase Price</label>
    <input
      type="number"
      formControlName="purchaseprice"
      [value]="calculatePurchasePriceTaxes()"
    />
  </div>

  <div>
    <label>TAXES</label>
    <select formControlName="taxes">
      <option value="21">21%</option>
      <option value="10">10%</option>
      <option value="4">4%</option>
    </select>
  </div>

  <div>
    <label>Purchase Price + TAX.</label>
    <input type="number" formControlName="purchasepricetaxes" />
  </div>

  <input
    type="text"
    id="name"
    class="form-control"
    formControlName="txtvalue"
    placeholder="name"
  />

  <div *ngIf="txtvalue.invalid && (txtvalue.dirty || txtvalue.touched)" class="alert">
    <div *ngIf="txtvalue.errors?.minlength">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="txtvalue.errors?.forbiddenName">Name cannot be Bob.noooooooooo</div>
  </div>
  <div
  *ngIf="
    taxForm.get('purchaseprice').invalid &&
    (taxForm.get('purchaseprice').dirty || taxForm.get('purchaseprice').touched)
  "
>
  Please provide a name.
</div>
  <button type="submit" [disabled]="taxForm.invalid">submit</button>

  
</form>

<p>untyped form group</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input id="name" formControlName="name" />

  <label for="email">Email:</label>
  <input id="email" formControlName="email" />

  <button type="submit">Submit</button>
</form>